---
---
import Policy from '../../layouts/Policy.astro';
---
<Policy>
  <h1>Takedown Policy</h1>
  <p>If you are a rights holder and believe a work has been posted in error, submit a GitHub issue using the takedown request template or email <a href="mailto:rights@waypoint.example">rights@waypoint.example</a>.</p>
  <p>We respond within five business days and temporarily withdraw the item during review.</p>
</Policy>
