@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased;
}

a {
  @apply text-primary-500 hover:text-primary-700 dark:text-primary-100 dark:hover:text-primary-50 underline-offset-4;
}
