<div class="bg-primary-500 text-white">
  <div class="mx-auto flex max-w-6xl items-center justify-between px-6 py-2 text-xs uppercase tracking-wide">
    <span>Now featuring new 1900 edition of Augustine's <em>Confessions</em>.</span>
    <a href="/record/2025-0003" class="underline">View record</a>
  </div>
</div>
